<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Error Page:</title>

<style>
div {
  list-style-position: inside;
text-align: center;
 }
 body {
   background-color: black;
   color: white;
 }
 a:visited {
  color: white;
}
a:link {
   color: white;
 }
</style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
          <h2>ERROR:</h2>
          <p> You entered a non-existing Ticker. Please return to the form page. </p>
          <ul>
            <li><a href="/form">TICKER FORM</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
